alias python="python3.12"
alias pip="pip3.10"
alias topgrade="topgrade --disable containers emacs yarn system remotes vim node"
alias code="code-insiders"
alias docker="podman"
alias gmr="glab mr create -f -y"
alias ghpr="gh pr create --fill --web"
alias gcm="git checkout main"
alias gcmp="git checkout main && git pull"
alias ccusage="bunx ccusage"
alias claude="~/.claude/local/claude"
alias cc="~/.claude/local/claude"
alias ccd="~/.claude/local/claude --dangerously-skip-permissions"
